<div class="container">
    <h2>About</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet, risus sed commodo facilisis, turpis libero rhoncus nisi, quis pellentesque augue velit sit amet tortor. Quisque at hendrerit ex, consequat interdum lacus. In libero lorem, laoreet at maximus sit amet, cursus quis justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce metus ligula, maximus eu leo vel, dapibus rutrum est. Morbi at viverra tortor. Nam non vestibulum risus. Vivamus in lorem tempor, luctus felis mollis, tempor ipsum. Aenean sit amet mauris luctus, pellentesque tellus nec, eleifend mauris. Nam elementum faucibus libero. Proin convallis nisl eget augue cursus, sit amet blandit nulla consectetur. Mauris a lorem commodo, tincidunt est sed, condimentum tortor. Pellentesque fermentum nisi vitae ligula dapibus, sit amet rutrum felis suscipit.
    </p>
    <p>
        Nam eros lorem, egestas quis porttitor nec, tincidunt eu ex. Donec malesuada interdum tellus finibus vehicula. Nam accumsan orci dui, at tincidunt dolor ornare at. Praesent iaculis ex id mauris pretium, at vehicula dolor laoreet. Curabitur nec tortor sapien. Duis lacinia orci quis massa ullamcorper, nec varius urna molestie. Ut massa ante, finibus in dolor eu, efficitur auctor nibh.
    </p>
</div>